

*{
    font-family: 'Open Sans', sans-serif; 
    font-display: swap;
    color: white;
}

.img1{
    clip-path: circle();
    position:fixed ;
    left: 3vw;
    z-index: 2;
    height: 25vw;
    width: 15vw;
    
}
.container{
    background-color: #1c226;
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 100vh;
    padding-right: 2vw;
    box-sizing: border-box;
    padding-top: 5vw;
    padding-left: 1.5vw;
    
 
}
.navbar{
    position: fixed;
    top: 5; 
    right: 5vw; 
    display:flex;
    justify-content:center;
    align-items:center;  
    z-index: 2;
       
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 6vw;
    font-size: 4vw;
    
}    
.page li a{
    text-decoration: none ;
    color: white;
    background-color: #363636;
    border: 0.063em solid #303030;
    width: 100%;
    height: 100%;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom: 2vw;
    padding-top: 2vw;
    border-radius: 100vw;
    
}

.page a:hover {
    border: .7vw solid white;
    color: white;
    box-shadow: 0.063em 0.063em 2.52em  #2296F3,
			0.063em 0.063em 5.04em #2296F3;
	// animation: anime 1s linear infinite;
	// margin-top: 20vw;
}

*{

-webkit-tap-highlight-color: rgba(255, 255, 255,

0) !important;

-webkit-focus-ring-color: rgba(255, 255, 255, 0)! important;

outline: none !important;

}

.im{
    width: 80vw;
    height: 50vw;
    display: grid;
    place-items: center;
}
.too{
    color: orange;
}

.me{
    font-size: 7.5vw;
    text-align: left;
    margin-top: 2vw;
    position: absolute;
    left: 5vw;
    
}
.about{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	height: 80vw;
	min-width: 80vw;
	margin: 0;
	color: white;
	font-size: 1.134em;
	background-color: #262626FF;
	font-family: sans-serif;
	border:.7vw solid white;
	border-radius: 10vw;
	/*padding: 5px;
	text-align: center;
	cursor: pointer;*/
	box-shadow: 0.063em 0.063em 2.52em  #2296F3,
			0.063em 0.063em 5.04em #2296F3;
	animation: anime 1s linear infinite;
	margin-top: 40vw;
	
	
} /*
div:nth-child(1){
	animation-delay: 0.2s;
}
.img2
{
    clip-path: circle();
    position:fixed ;
    left: 3vw;
    z-index: 2;
    height: 25vw;
    width: 15vw;
    border-radius: 100vw;
}

.para{
    text-align: right;
    position: absolute ;
    left: 120vw;
    padding-left: 50vw;
    
    
}
h1{
    align-items: right;
    padding-left: 20vw;
    font-size: 10vw;
}

.about ul {
    word-spacing: 1vw;
    padding-left: 1vw;
    Place-items:center ;
    text-align: center;
    align-items: center ;
    align-content: center;
    align-self: center;
    font-size: 5vw;
}

.haha{
    color: white;
}
.about1{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	height: 180vw;
	min-width: 80vw;
	margin: 0;
	color: white;
	font-size: 1.134em;
	background-color: #262626FF;
	font-family: sans-serif;
	border:.7vw solid white;
	border-radius: 10vw;
	/*padding: 5px;
	text-align: center;
	cursor: pointer;*/
	box-shadow: 0.063em 0.063em 2.52em  #2296F3,
			0.063em 0.063em 5.04em #2296F3;
	animation: anime 1s linear infinite;
	margin-top: 40vw;
	
	
} 
.hg 
 { 
     background-color: #262626FF ; 
     border-radius:150vw; 
     color:black; 
     height:24vw; 
     width:49vw; 
     text-indent:middle ; 
     margin-top:5vw; 
     margin-left:0.315em; 
     border:.8vw solid white  ; 
     border: 0.063em solid white transparent; 
     font-family: sans-serif; 
 /*        border: 1px solid transparent; 
         border-radius: 150vw; 
         padding: 5px; 
         text-align: center; 
         cursor: pointer; */ 
         box-shadow: 0.063em 0.063em 2.52em  #2296F3, 
                         0.063em 0.063em 5.04em #2296F3; 
         animation: anime 1s linear infinite; 
         margin-top: 10vw; 
  
  
 }
  .gen1 
 { 
     font-size: 6vw; 
     color: white; 
     /*text-align: center; 
     justify-content: center;*/ 
  
  
 } 
 
 .card{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	height: 140vw;
	min-width: 80vw;
	margin: 0;
	color: white;
	font-size: 4.5vw;
	background-color: #262626FF;
	font-family: sans-serif;
	border:.7vw solid white;
	border-radius: 10vw;
	padding: 0.315em;
	text-align: center;
	cursor: pointer;
	box-shadow: 0.063em 0.063em 2.52em  #2296F3,
			0.063em 0.063em 4.04em #2296F3;
	animation: anime 1s linear infinite;
	margin-top: 20vw;
	padding: 4vw 4vw 4vw 4vw ;
}
 .card1{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	height: 150vw;
	min-width: 80vw;
	margin: 0;
	color: white;
	font-size: 4.5vw;
	background-color: #262626FF;
	font-family: sans-serif;
	border:.7vw solid white;
	border-radius: 10vw;
	padding: 0.315em;
	text-align: center;
	cursor: pointer;
	box-shadow: 0.063em 0.063em 2.52em  #2296F3,
			0.063em 0.063em 4.04em #2296F3;
	animation: anime 1s linear infinite;
	margin-top: 20vw;
	padding: 4vw 4vw 4vw 4vw ;
}
.send{
    width: 1vw;
    height: 5vw;
    
}
.button {
  background-color: #ffffff00;
  color: #fff;
  width: 56vw;
  height: 16vw;
  border: #3654ff 0.2em solid;
  border-radius: 10vw;
  text-align: right;
  transition: all 0.6s ease;
  margin-left: -26vw;
  box-shadow: 0.063em 0.063em 2.52em  #2296F3,
			0.063em 0.063em 5.04em #2296F3;
	animation: anime 1s linear infinite;
}

.button:hover {
  background-color: #3654ff;
  cursor: pointer;
}

.button svg {
//  width: 2.6em;
  margin: -0.2em 0.8em 1em;
  position: absolute;
  display: flex;
  transition: all 0.6s ease;
}

.button:hover svg {
  transform: translateX(5px);
}

.text {
  margin: 0 1.5em;
  font-size : 5.5vw ;
}
h3{
    font-size: 6vw;
}
h1{
    font-size: 10vw ;
}
