.gram {
  background: transparent;
  position: relative;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  font-size: 4.5vw;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid rgb(255,0,0);
  border-radius: 10vw;
  outline: none;
  overflow: hidden;
  color: rgb(255,0,0);
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
  width: 39vw;
  height: 15vw;
  top: -45vw;
  right: -20vw;
}

.gram span {
  margin: 10px;
}

.gram::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: '';
  border-radius: 50%;
  display: block;
  width: 5vw;
  height: 15vw;
  left: -5em;
  text-align: center;
  transition: box-shadow 0.5s ease-out;
  z-index: -1;
}

.gram:hover {
  color: #fff;
  border: 1px solid rgb(255,0,0);
}

.gram:hover::before {
  box-shadow: inset 0 0 0 10em rgb(255, 0, 0);
}
a{
    text-decoration: none;
}
